
#header {
    background-color:#0093E3 ;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#menu-button {
    background-color:#0093E3 ;
    color: white;
}
#menu-button:hover {
    filter: brightness(80%);
}
#menu-button img {
    color: white;
    
}
#header-title{
    margin-right: 0px;
    padding-right: 0px;
}
#header-title:hover {
    filter: brightness(80%);
}


#header .search-form {
    display: flex;
    justify-content: flex-end;
    background-color:#0093E3 ;
    width: 200px;
    margin-right: 0px;
}

#header .search-form input {
    min-width: 160px;
    margin: 5px 0px 7px 7px;
    height: 40px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2em;
}
#search-button {
   width: 100px;
   height: 40px;
   border: 1px solid white;
   border-radius: 5%;
   color: white;
   background-color: #0093E3;
   margin: 5px 10px 7px 5px;

}
 #search-button:hover {
    filter: brightness(80%);
 }
 #search-icon {
    background-color: #0093E3;
    margin: 5px 10px 7px 0px;
    padding-left: 0px;
 }



 @media only screen and (max-width: 500px) {
    #header-title {
        /* display: none; */
    } 
}
 @media only screen and (max-width: 350px) {
    #header-title {
        margin: 5px 0px 10px 0px;
        padding: 0px;
    } 
    #menu-button {
        padding-left: 0px;
    }
}
